<div class="jumbotron">
  <h1>'CHEERS!'</h1>
  <p class="lead">
    <img src="images/KCHopTalkLogo9.png" alt="KC Hop Talk" height=150 width=150><br>
    Kansas City Hop Talk is the place to find out about craft beers, craft brewing, and related topics
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Kansas City Hop Talk</h4>
  <p>
    KC Hop Talk is constantly looking out for news and information related to craft beers and craft brewing that directly impacts the Kansas City Craft Beer Consumers.
  </p>

  <h4>Goal</h4>
  <p>
    Our goal is to challenge the 'status-quo' of other beer sites, by pushing the envelop towards finding the latest news and events related to craft beer and craft brewing in the Kansas City Regional Market.
  </p>

</div>
